# STA141B Discussion 1

## Python Number

There are three numeric types in Python:

int 

float 

complex

In [1]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [2]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

## String

String literals in python are surrounded by either single quotation marks, or double quotation marks. "Python" and 'Python' are the same.

In [3]:
"Python"

'Python'

In [4]:
'Python'

'Python'

Strings in Python are arrays of bytes representing unicode characters.

Square brackets can be used to access elements of the string. Elements are numbered starting from 0, not 1 (unlike R).

In [5]:
a='Python'

In [6]:
a[1]

'y'

In [7]:
a[3]

'h'

In [8]:
a[-1]    # select the last character

'n'

You can get a slice (multiple elements) of the container with the : operator.

The first number is included, but the last number is not (unlike R).

In [9]:
a[0:4]    # include a[0],a[1],a[2],a[3]

'Pyth'

In [10]:
a[0:4]+a[5]

'Pythn'

In [11]:
a[1:]    # from a[1] to end

'ython'

In [12]:
a[:4]   # from a[0] to a[3]

'Pyth'

In [13]:
a[:]   # from a[0] to end

'Python'

In [14]:
a[0:5:2]  # from a[0] to a[4] increment 2   it is a[0] a[2] a[4]

'Pto'

The len() method returns the length of a string:

In [15]:
len(a)

6

The lower() or upper() method returns the string in lower or upper case:

In [16]:
a.lower()

'python'

In [17]:
a.upper()

'PYTHON'

The replace() method replaces a string with another string:

In [18]:
a.replace('Py','T')

'Tthon'

String + String = String

In [19]:
print('Hi ' + a + '!')  # add up three strings

Hi Python!

In [20]:
'Py'+'thon'

'Python'

## Python Casting

Casting can be used if you want to specify a type on a variable.

In [21]:
float(3)   # constructs a float number

3.0

In [22]:
int(3.5)   # constructs an integer number

3

In [23]:
str(4)    # constructs a string

'4'

In [24]:
int('1')  # constrct an integer from a string

1

In [25]:
int('s')   # Error

ValueError: invalid literal for int() with base 10: 's'

## List, Tuple, Set and Dictionary

There are four collection data types in the Python programming language:

__List__ is a collection which is ordered and changeable. Allows duplicate members.

__Tuple__ is a collection which is ordered and unchangeable. Allows duplicate members.

__Set__ is a collection which is unordered and unindexed. No duplicate members.

__Dictionary__ is a collection which is unordered, changeable and indexed. No duplicate members.

### List

In [ ]:
L=[1,'a',3]  # list can have different types 
print(L)

In [ ]:
L + [4]

In [ ]:
L[1]        # selection

In [ ]:
L[0:3]      # slicing

append(): add an element at the end of the list

In [ ]:
L.append(6)
print(L)

extend(): add the elements of a list to the end of the current list

In [ ]:
L.extend([1,2,3,4])
print(L)

insert() adds an element at the specified position

In [ ]:
L=[1,'a',3]
L.insert(2,'b')
print(L)

pop(): removes the element at the specified position

In [ ]:
print(L)
L.pop(1)      # remove L[1]
print(L)

In [ ]:
print(L)
L.pop()       # remove L[-1]
print(L)

remove(): removes the first occurrence of the element with the specified value

In [ ]:
print(L)
L.remove(2)       # remove the first value 2
print(L)

index(): returns the index of the first element with the specified value

In [ ]:
print(L)
L.index(3)

reverse(): reverses the order of the list

In [ ]:
print(L)
L.reverse()
print(L)

sort(): sorts the list ascending by default

In [ ]:
L=[1,5,6,3,2,7,8,3]
L.sort()            # sort ascending
print(L)

In [ ]:
L.sort(reverse=True)
print(L)           # sort descending

### Tuple: unchangeable list

In [ ]:
T=(1,3,5,6)
print(T)
print(type(T))

In [ ]:
T[0:2]

In [ ]:
T[0]=0  # Error

### Set

In [ ]:
S={1,1,2,5,7,7}
print(S)
print(type(S))

add(): add one element to a set

In [ ]:
S.add(9)
print(S)

remove(): remove an element from a set; it must be a member

In [ ]:
S.remove(2)
print(S)

Union and Intersection of two sets

In [ ]:
S1={1,3,4,5}
S2={3,4,6,7}

In [ ]:
S1.union(S2)

In [ ]:
S1.intersection(S2)

### Dictionary

A dictionary is a container for {key: value} pairs. You can use any type as a key and any type as a value.

In [ ]:
{"hello": 3, 42: "meaning of life"}

In [ ]:
D={1:'STA' , 2:141 , 3:'B'}
print(D)

In [ ]:
D.items()

In [ ]:
for x,y in D.items():
    print( (x,y) )

In [ ]:
D.keys()

In [ ]:
D.values()

In [ ]:
[x for x in D.values()]

In [ ]:
J=''
for x in D.values():
    J+=str(x)
print(J)