# STA 141B Lecture 9

The class website is <https://github.com/2019-winter-ucdavis-sta141b/notes>

### Announcements

### Topics

* Undocumented APIs
* XML and HTML
* Web Scraping

### Datasets

* [Yolo County Health Inspections](https://yoloeco.envisionconnect.com/)
* [Wikipedia's List of Largest Cities](https://en.wikipedia.org/wiki/List_of_largest_cities)
* [CUESA's Vegetable Seasons Chart](https://cuesa.org/eat-seasonally/charts/vegetables)

### References

* [__requests__ documentation](http://docs.python-requests.org/en/master/)
* [__requests-html__ documentation](https://html.python-requests.org/)
* [MDN HTML Reference](https://developer.mozilla.org/en-US/docs/Web/HTML/Element)
* [XPath Diner](http://www.topswagcode.com/xpath/) -- an interactive XPath tutorial
* [CSS Diner](https://flukeout.github.io/) -- an interactive CSS Selector tutorial
* Python for Data Analysis, Ch. 6
* Python for Data Analysis, Ch. 7.3 (to review string processing)

[PDSH]: https://jakevdp.github.io/PythonDataScienceHandbook/
[ProGit]: https://git-scm.com/book/

## Getting Data from the Web

Revised list of ways you can get data from the web, from most to least convenient:

1. Direct download or "data dump"
2. Python or R package (there are packages for many popular web APIs)
3. Documented web API
4. Undocumented web API
5. Scraping

## Undocumented Web APIs

Many websites use undocumented web APIs to get data. For example:

* [University of California Compensation](https://ucannualwage.ucop.edu/wage/)
* [Yolo County Health Inspections](https://yoloeco.envisionconnect.com/)

You can identify these websites by looking at requests in your browser's developer tools. In Firefox or Chrome, you can open the developer tools with `ctrl-shift-i`.

Requests to web APIs almost always return JSON or XML data. By examining the browser requests, you can work out the endpoints and parameters, allowing you to use the API.

**CAUTION:** Web APIs that are undocumented are often undocumented for a reason. Using an undocumented API may make someone angry or get you into legal trouble! Government and quasi-government websites (like the examples above) are probably okay, as long as you cache and rate-limit your requests. For everything else, find for an alternative or get permission first.

Let's reverse engineer the Yolo County Health Inspections web API so that we can get data about local restaurants.

In [1]:
import numpy as np
import pandas as pd
import requests
import requests_cache

requests_cache.install_cache("mycache")

In [12]:
def get_health_info(q):
    response = requests.post("https://yoloeco.envisionconnect.com/api/pressAgentClient/searchFacilities", params = {
        "PressAgentOid": "c08cb189-894c-4c8c-b595-a5ef010226b4",
    }, json = {
        "FacilityName": q
    })

    response.raise_for_status()
    #"FacilityName": "pluto's"

    # Different ways to attach data to a POST request:
    # With data=, we get a query string
    #   FacilityName=pluto's

    # With json=, we get a json object

    return response.json()

get_health_info("pluto's")
get_health_info("yakitori")

[{'FacilityId': 'FA0016377',
  'FacilityName': 'YAKITORI YUCHAN',
  'Address': '109 E ST ',
  'CityStateZip': 'DAVIS CA 95616 ',
  'LastScore': 100.0,
  'attachmentId': '63958585-5175-4387-a88f-a94200ecc3aa'}]

We could reverse engineer other parts of the API to get detailed data about health violations.

## Web Scraping

### What makes a web page?

Web pages are written in _hypertext markup language_ (HTML). HTML files (`.htm` or `.html`) are plain text, just like JSON, Python scripts, and R scripts.

In HTML, we use _tags_ to create _elements_ of a web page. Elements add formatting and structure to the page.

* Tags usually come in pairs: an opening tag and a closing tag.
* Tags are written `<NAME>` for opening tags, `</NAME>` for closing tags, and `<NAME />` for singleton tags.
* Opening and singleton tags can have _attributes_ that contain additional information. Attributes are written `ATTRIBUTE=VALUE` after the tag name. 

See [here](https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/HTML_basics) for a more detailed explanation, and [here](https://developer.mozilla.org/en-US/docs/Web/HTML/Element) for a list of valid HTML elements.

#### Examples

As an example:

```html
<p>This <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">page</a> is famous and this <strong>word</strong> is emphasized.</p>
```
The `p` tag marks a paragraph, the `a` tag marks a link (an _anchor_), and the `strong` tag marks emphasized text.

Here's a string that contains HTML for a simple, complete website:

In [14]:
page = """
<html>
<head>
    <title>This is the Title!</title>
</head>

<body>
    <p>This is a paragraph!</p>
    <p id="best-paragraph">This is another paragraph! ðŸŒ®</p>
    <p>Visit <a href="https://pudding.cool/">The Pudding</a>.</p>
    <span>This is a span. It comes with an avocado. ðŸ¥‘</span>
</body>
</html>
"""

_Extensible markup language_ (XML) also uses tags to create elements. We say XML is _extensible_ because you can create your own XML elements (unlike HTML). People typically use XML to describe structure and meaning of data, rather than for formatting.

We'll use the same process to extract data from both HTML and XML.

### Helper Packages

A _parser_ converts formatted data into familiar data structures. We've used __requests__' built-in JSON parser, but the package doesn't have a built-in HTML/XML parser. Fortunately, there are many other Python packages for parsing HTML/XML and web scraping.

HTML/XML Parsers:
* [lxml](https://lxml.de/)
* [html5lib](https://github.com/html5lib/html5lib-python)
* [beautifulsoup](https://www.crummy.com/software/BeautifulSoup/)
* [requests-html](https://html.python-requests.org/)

Scraper Frameworks (_convenient after learning the basics with parsers_):
* [scrapy](https://scrapy.org/)
* [newspaper3k](https://github.com/codelucas/newspaper)

Even more [here](https://github.com/lorien/awesome-web-scraping/blob/master/python.md#web-scraping-frameworks).

We'll use __lxml__ here, but you're welcome to use other packages on assignments and the project. To install __lxml__ for Anaconda, run `conda install -c anaconda lxml` in a shell.

In [15]:
import lxml.html as lx

html = lx.fromstring(page)
html

### Finding Elements

Elements are nested, so an HTML document is like a tree:
```
html
â”œâ”€â”€ head
â”‚   â””â”€â”€ title
â””â”€â”€ body
    â”œâ”€â”€ p
    â”œâ”€â”€ p
    â”œâ”€â”€ p
    â”‚   â””â”€â”€ a
    â””â”€â”€ span
```
This is similar to the file system on your computer. The key difference is that elements at the same level can have the same tag name.

#### XPath

The _XML Path Language_ (XPath) lets us write paths to elements. XPath paths look a lot like file paths. XPath is not Python-specific!

The `.xpath()` method gets all elements at an XPath path:

In [16]:
html.xpath("/html/head/title")

In [17]:
html.xpath("/html/body/p")

[<Element p at 0x7f8609c4aa98>,
 <Element p at 0x7f8609c4aae8>,
 <Element p at 0x7f8609c4ab38>]

Since there may be more than one element, the method always returns a list.

Absolute paths are not robust for scraping. An update to a web page that adds a single tag can break a scraper that uses absolute paths. In XPath, `//` means "anywhere below". We'll use `//` often because it's more robust:

In [20]:
html.xpath("/html/body//a")

What if we just elements that satisfy a certain condition? In XPath, `[ ]` filters out elements that don't match a condition. For example:

In [22]:
html.xpath("//p[@id = 'best-paragraph']")

[XPath Diner](http://www.topswagcode.com/xpath/) is an interactive tutorial that teaches most of the XPath syntax. It takes about 20-60 minutes. Work through it to become an XPath ninja!

#### CSS Selectors

_Cascading Style Sheets_ (CSS) is another language for formatting elements in an HTML document. CSS provides another way to select elements, called _CSS selectors_.

CSS selectors are more concise but less flexible than XPath paths. The `.cssselect()` method gets all elements at a CSS selector:

In [23]:
html.cssselect("p")

[<Element p at 0x7f8609c4aa98>,
 <Element p at 0x7f8609c4aae8>,
 <Element p at 0x7f8609c4ab38>]

### Extracting Text and Attributes

There are two ways to get text from an element:

* `.text` gives text inside the element, but not its children
* `.text_content()` gives text inside the element and its children, with all tags removed

In [27]:
p = html.xpath("//p[@id = 'best-paragraph']")[0]
p.text_content()

'This is another paragraph! ðŸŒ®'

In [28]:
html.text

'\n'

In [29]:
html.text_content()

'\n\n    This is the Title!\n\n\n\n    This is a paragraph!\n    This is another paragraph! ðŸŒ®\n    Visit The Pudding.\n    This is a span. It comes with an avocado. ðŸ¥‘\n\n'

We can get values from attributes on an element with `.attrib`, which is a dictionary:

In [32]:
p.attrib["id"]

'best-paragraph'

In [36]:
[x.attrib["href"] for x in html.xpath("//a")]

['https://pudding.cool/']

### Example: Scraping Tables

For data in a `table` element, we can use __Pandas__ instead of writing a scraper.

Wikipedia provides lots of useful information in tables. Let's get the Wikipedia list of [the world's largest cities][wiki].

[wiki]: https://en.wikipedia.org/wiki/List_of_largest_cities

In [63]:
# This example shows all of the steps to clean the data.
# In lecture we only did lines 4-5.

tabs = pd.read_html("https://en.wikipedia.org/wiki/List_of_largest_cities")
tbl = tabs[1]

def strip_footnote(x):
    """This function removes bracketed footnotes, such as '[1]'."""
    if pd.isna(x):
        return x
    
    return x.partition("[")[0]

# Combine table headers into one row.
cols = list(tbl.columns.get_level_values(0))
cols[-3:] = tbl.columns.get_level_values(1)[-3:]
tbl.columns = [strip_footnote(c).title() for c in cols]

# We don't need the Image column
tbl = tbl.drop(columns = "Image")

# Strip footnotes from the rest of the data
tbl = tbl.applymap(strip_footnote)

# Convert numeric columns to numeric dtypes
cols = tbl.columns[-3:]
tbl[cols] = tbl[cols].apply(lambda x: pd.to_numeric(x.str.replace(",", "")))
tbl

,City,Nation,City Proper,Metropolitan Area,Urban Area
0,Chongqing,China,30751600.0,17000000.0,8165500.0
1,Shanghai,China,24256800.0,24750000.0,23416000.0
2,Beijing,China,21516000.0,24900000.0,21009000.0
3,Lagos,Nigeria,16060303.0,21000000.0,13123000.0
4,Dhaka,Bangladesh,14399000.0,20000000.0,19580000.0
5,Mumbai,India,12478447.0,12771200.0,20748395.0
6,Chengdu,China,16044700.0,10376000.0,6316922.0
7,Karachi,Pakistan,14910352.0,NaN,NaN
8,Guangzhou,China,14043500.0,25000000.0,20800654.0
9,Istanbul,Turkey,14025000.0,13520000.0,14657000.0
10,Tokyo,Japan,13839910.0,38140000.0,36923000.0
11,Tianjin,China,12784000.0,15469500.0,6859779.0
12,Moscow,Russia,12197596.0,16170000.0,16800000.0
13,SÃ£o Paulo,Brazil,12038175.0,21090791.0,36842102.0
14,Kinshasa,DR Congo,11855000.0,13265000.0,1038195.0
15,Delhi,India,11034555.0,16314838.0,21753486.0
16,Baoding,China,11194372.0,2176857.0,NaN
17,Lahore,Pakistan,11126285.0,13569000.0,10665000.0
18,Cairo,Egypt,10230350.0,18290000.0,22439541.0
19,Seoul,"Korea, South",10197604.0,12700000.0,25520000.0
20,Jakarta,Indonesia,10075310.0,30539000.0,30075310.0
21,Wenzhou,China,9175000.0,9122102.0,6642592.0
22,Lima,Peru,9174855.0,10750000.0,9886647.0
23,Mexico City,Mexico,8974724.0,20999000.0,21178959.0
24,London,United Kingdom,8825001.0,14040163.0,9787426.0
25,Bangkok,Thailand,8750600.0,15931300.0,15645000.0
26,Xi'an,China,8705600.0,13569700.0,5206253.0
27,Chennai,India,4681087.0,NaN,8917749.0
28,Bangalore,India,8425970.0,NaN,8728906.0
29,New York City,United States,8622698.0,20153634.0,23689255.0
...,...,...,...,...,...
218,Ahvaz,Iran,1184788.0,1260817.0,NaN
219,Sofia,Bulgaria,1260120.0,1682340.0,1547472.0
220,Nizhny Novgorod,Russia,1250619.0,NaN,NaN
221,Abuja,Nigeria,1235880.0,6000000.0,2440000.0
222,Calgary,Canada,1235171.0,1214839.0,1095404.0
223,Saitama,Japan,1226656.0,NaN,NaN
224,Suwon,"Korea, South",1202310.0,NaN,NaN
225,Hiroshima,Japan,1196274.0,NaN,NaN
226,Rosario,Argentina,1193605.0,1276000.0,NaN
227,Brisbane,Australia,1180285.0,2360241.0,NaN
228,Allahabad,India,NaN,1117094.0,NaN
229,Belgrade,Serbia,1166763.0,1233796.0,1659440.0
230,Campinas,Brazil,1164098.0,3094181.0,NaN
231,Ulsan,"Korea, South",1163690.0,NaN,NaN
232,Omsk,Russia,1154116.0,NaN,NaN
233,Dakar,Senegal,1146053.0,2452656.0,NaN
234,Abu Dhabi,United Arab Emirates,1145000.0,NaN,NaN
235,Monterrey,Mexico,1130960.0,4520329.0,NaN
236,Tripoli,Libya,1126000.0,2267000.0,2325000.0
237,Rostov-on-Don,Russia,1119900.0,NaN,NaN
238,T'bilisi,Georgia,1118035.0,1485293.0,NaN
239,Fez,Morocco,1112072.0,NaN,NaN
240,Birmingham,United Kingdom,1111300.0,3683000.0,2440986.0
241,Yerevan,Armenia,1060138.0,NaN,NaN
242,Cologne,Germany,1057327.0,3573500.0,NaN
243,Tunis,Tunisia,1056247.0,2643695.0,2294547.0
244,Bulawayo,Zimbabwe,1050000.0,NaN,1200000.0
245,Astana,Kazakhstan,1029556.0,1200000.0,NaN
246,Islamabad,Pakistan,1014825.0,NaN,1829180.0
247,Cartagena,Colombia,1013389.0,1013389.0,1013389.0

### Writing Scrapers

When the data we want isn't in a `table` element, we have to write our own scraper.

The workflow for writing a scraper is the same regardless of the language you use:

1. Download pages with an HTTP request (usually `GET`)
2. Parse pages to extract text
3. Clean up extracted text with string methods or regex
4. Save cleaned results

### Example: CUESA Vegetable Seasons



CUESA (Center for Urban Education about Sustainable Agriculture) provides [a chart](https://cuesa.org/eat-seasonally/charts/vegetables) that shows when vegetables are in season. Let's scrape the chart.

In [45]:
result = pd.read_html("https://cuesa.org/eat-seasonally/charts/vegetables")

In [61]:
# Download the page
response = requests.get("https://cuesa.org/eat-seasonally/charts/vegetables")
response.raise_for_status()

# Parse the HTML
html = lx.fromstring(response.text)
html

# Find the table with the vegetable seasons
tab = html.xpath("//table")[0]

rows = tab.xpath(".//tr")
rows = rows[1:]

# Extract the header
header = rows[0]

header = [x.text for x in header.xpath(".//li")]

# To be continued in the next lecture...